/* Variables */
:root {
  /* Colores primarios */
  --color-1-button: rgb(242, 95, 58);
  --color-link: rgb(35, 44, 81);

  /* Colores neutros */
  --azul-grisáceo-oscuro: rgb(143, 148, 167);
  --azul-muy-oscuro: rgb(29, 30, 37);
  --rojo-muy-pálido: rgb(255, 239, 234);
  --variante-gris-claro: rgb(249, 249, 249);

  /* Font */
  --font-vietnam-pro: "Be Vietnam Pro", sans-serif;
}

/* Estilos generales */
html {
  box-sizing: border-box;
  font-size: 62.5%; /*1rem = 10px*/
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  font-family: var(--font-vietnam-pro);
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 15rem;
}

.header .menu {
  display: flex;
  gap: 2rem;
}

.menu .menu__item {
  list-style: none;
}

.menu .menu__item a {
  text-decoration: none;
}

.menu .menu__item--blue a {
  color: var(--color-link);
}

.button-get {
  border-radius: 4rem;
  padding: 1.5rem 3rem;
  border: none;
  cursor: pointer;
  outline: none;
  color: white;
}

.button-get--red {
  background-color: var(--color-1-button);
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
}
